/*
Theme Name: PaperCuts
Theme URI: http://www.tomastoman.cz/papercuts
Author: Tomas Toman
Author URI: http://www.tomastoman.cz/
Description: PaperCuts is an easily customizable WordPress multipurpose theme. It is a fully responsive theme that allows for easy viewing on any device. PaperCuts theme offers 3 pre-defined color schemes, 220 Google fonts, Theme Options Panel for easy adaptation to your needs, custom widget for displaying the latest posts from the selected category, 2 menu areas, social network profile links, theme documentation and much more. Supports popular plugins Breadcrumb NavXT and WooCommerce. Available in Czech, Danish, Dutch, English, French, Greek, German, Italian, Polish, Russian, Slovak and Spanish.
Version: 1.2.8
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, black, white, gray, blue, green, red, one-column, two-columns, right-sidebar, responsive-layout, custom-background, custom-header, custom-colors, custom-menu, featured-images, full-width-template, sticky-post, theme-options, translation-ready, editor-style, rtl-language-support
Text Domain: papercuts
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	border: none;
  margin: 0;
	padding: 0;
	vertical-align: baseline;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  -ms-word-wrap: break-word;
  word-wrap:     break-word;
  line-height: 120%;
  margin: 30px 0 7px;                   
}
h1 {
  color: black;
  font-size: 24px;  
}
h2 {
  color: #222222;
  font-size: 20px;  
}
h3 {
  color: #333333;
  font-size: 18px;  
}
h4 {
  color: #444444;
  font-size: 16px;  
}
h5 {
  color: #555555;
  font-size: 14px;  
}
h6 {
  color: #666666;
  font-size: 13px;  
}
p, ul, ol, li, dl, address {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  font-size: 13px;
  text-align: left;
}
ul {
  margin-left: 16px;   
}
ol {
	list-style-type: decimal;
  margin-left: 20px;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
dl {
  margin-bottom: 20px;   
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 5px;
}
strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
blockquote cite {
  display: block;
  font-style: normal;
	text-transform: uppercase;
}
a {
  color: #17c7bd;
  text-decoration: underline;           
}
a:hover {
  text-decoration: none;           
}
a img {
  border: none;      
}
img {
  height: auto; 
  max-width: 100%;   
}
table {
  font-size: 13px;
  width: 100%;      
}
table, td, th {
  border: 1px solid #e3e3e3;
  border-collapse: collapse;
  text-align: left;
}
td, th {
  padding: 5px 8px;       
}
th {
  background: #555555;
  color: white;
  font-weight: bold;   
}
blockquote, q { 
  border-left: 1px solid #e3e3e3;
  clear: both;
  color: #333333;
  font-style: italic;
  margin: 0 0 20px;
  padding-left: 10px;
}
address {
  font-style: italic;        
}
pre {
  margin-bottom: 20px;
  overflow: auto;  
}
sup {
  vertical-align: super;    
}
sub {
  vertical-align: sub;    
}
iframe,
embed {
  clear: both;
  width: 100%;   
}
hr {
  background: #e3e3e3;
  border: none;
  height: 1px; 
  margin: 15px 0;  
}


/* WordPress Core
-------------------------------------------------------------- */

.alignnone {
  clear: both;
  margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
  clear: both;
  display: block;
  margin: 5px auto 5px auto;
}
.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}
.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}
a img.alignnone {
  margin: 5px 20px 20px 0;
}
a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}
a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}
.wp-caption,
.gallery-caption {
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 5px 3px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
#wrapper .wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px;
}
.wp-audio-shortcode {
  margin-bottom: 20px;                   
}


/* basic structure
-------------------------------------------------------------- */

body {
  background: #f1f1f1;
  color: black;
  font-family: Arial, Helvetica, sans-serif;  
  line-height: 150%; 
}
#top-navigation-wrapper,
#wrapper-header,
#wrapper-footer,
#container {
  float: left;
  height: auto;
  position: relative;
  width: 100%;        
} 
#wrapper-header,
#wrapper-footer {
  background: white;
  -webkit-box-shadow: 0 0 2px #dddddd;
  -moz-box-shadow:    0 0 2px #dddddd;
  box-shadow:         0 0 2px #dddddd;                 
}
#wrapper-header {
  border-bottom: 1px solid #e0e0e0;                
}
#wrapper-footer {
  border-top: 1px solid #e0e0e0;                
}
.footer-signature-content,
.top-navigation,
.header-content,
.menu-box,
#main-content,
#footer {  
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  width: 100%; 
} 
#content {
  float: left;
  margin: 35px 0 0;
  width: 690px;         
}
.page-template-template-full-width-php #main-content #content,
.page-template-template-landing-page-php #main-content #content,
.page-template-template-full-width-without-title-php #main-content #content {
  width: 100% !important;                                                      
}
#sidebar {
  float: right;
  margin: 35px 0 0 25px;
  width: 285px;         
}
#wrapper-footer {
  margin-top: 10px;                
}
.scroll-top {
  background: #666666 left top no-repeat url(images/scroll-top.png);
  border: 1px solid black;
  cursor: pointer;
  display: block;
  height: 29px;
  opacity: 0.2;
  filter: alpha(opacity=20);
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 29px;
  z-index: 200;            
}
#wrapper .scroll-top:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: opacity 1s;
  transition: opacity 1s;                             
}


/* header
-------------------------------------------------------------- */

.header-content-wrapper {
  float: left;
  width: 100%;                  
}
.header-content {
  padding: 35px 0;
  position: relative;               
}
.site-title { 
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 46px;  
  line-height: 100%;
  margin: 0; 
  max-width: 790px;
  position: relative;
  z-index: 50;
  width: auto;        
}
.site-description { 
  color: #999999;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 20px;
  line-height: 100%;
  margin: 10px 0 0; 
  max-width: 790px;
  position: relative;
  z-index: 50;
  width: auto;        
}
.site-title a {
  color: #17c7bd;
  text-decoration: none;           
}
.site-title a:hover {
  color: #111111; 
  -webkit-transition: color 1s;
  transition: color 1s;                   
}
.header-logo {
  clear: both;
  height: auto;
  margin: 0;
  max-width: 790px;
  position: relative;
  width: auto;             
}
#top-navigation-wrapper {
  background: #444444;
  border-bottom: 1px solid white;
  -webkit-box-shadow: 0 1px 0 #e0e0e0;
  -moz-box-shadow:    0 1px 0 #e0e0e0;
  box-shadow:         0 1px 0 #e0e0e0;
  float: left;
  height: auto;
  position: relative;
  width: 100%;
  z-index: 150;                        
}
.top-navigation {
  height: auto;               
}
.header-icons {
  height: 20px;
  position: absolute;
  right: 0;
  top: 9px;
  width: auto;              
}
#wrapper .top-navigation .header-icons a,
#wrapper .top-navigation .header-icons a img {
  display: block; 
  height: 20px;
  padding: 0;               
}
.social-icon {
  background-color: #b1f1ec;
  float: left;
  margin-left: 5px;
  width: 20px;             
}
#wrapper .top-navigation .header-icons a img:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -webkit-transition: opacity 1s;
  transition: opacity 1s;             
}
.header-image-wrapper {
  background: white;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 0 0 2px #dddddd;
  -moz-box-shadow:    0 0 2px #dddddd;
  box-shadow:         0 0 2px #dddddd;
  display: block;
  float: left;
  margin: 0 0 25px; 
  position: relative;
  width: auto;
  max-width: 100%;             
}
.header-image-wrapper .header-image {
  padding: 15px;  
  position: relative;
  width: auto;          
}
.header-image-wrapper .header-image img {
  display: block;                                        
}

/* header menu */
/* 
This copyright notice must be untouched at all times.
The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menus/final_drop3.html
Copyright (c) 2005-2007 Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements. */
.menu-box-wrapper {
  border-top: 1px solid #e8e8e8;
  float: left;
  width: 100%;                  
}
.menu-box ul {
  border-left: 1px solid #ededed;
  float: left;
  list-style-type: none;
  margin: 0;
  position: relative;
  text-align: left;
}
.menu-box ul ul {
  background: #e8e8e8;
  border-left: none;
  z-index: 110;
}
.menu-box ul li {
  border-right: 1px solid #ededed;
  float: left;
  height: 40px;
  line-height: 40px;
  margin: 0;
  position: relative;
}
.menu-box ul ul li {
  border-bottom: 1px solid #d9d9d9;
  border-right: none;
  display: block;
  height: auto;
  line-height: 34px;
  margin: 0;
  min-height: 34px;
  position: relative;
  width: 223px;
}
#wrapper #header .menu-box ul ul .last-menu-item {
  border-bottom: none;                          
}
.menu-box a,
.menu-box a:visited {
  color: #636363;
  display: block;
  float: left;
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  padding: 0 23px;
  text-decoration: none;
}
#header .menu-box ul ul a,
#header .menu-box ul ul a:visited {
  color: #333333 !important;
  display: block;
  font-size: 13px;
  font-weight: normal;
  height: auto;
  line-height: 34px;
  margin: 0;
  min-height: 34px;
  padding: 0 0 0 23px;
  text-align: left;
  width: 200px;
}
#header .menu-box ul ul ul a,
#header .menu-box ul ul ul a:visited {
  color: #444444 !important;
}
.menu-box a:hover,
.menu-box :hover > a {
  background-color: #dff8f6;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}
#header .menu-box ul ul a:hover,
#header .menu-box ul ul :hover > a {
  background-color: #dbdbdb !important;
  color: black !important;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}
.menu-box ul ul {
  height: 0;
  position: absolute;
  left: 0px;
  top: 40px;
  visibility: hidden;
  width: 223px; 
}
.menu-box ul ul ul {
  left: 223px;
  top: 0;
  width: 223px;
}
.menu-box ul li:hover ul,
.menu-box ul a:hover ul,
.top-navigation ul li:hover ul,
.top-navigation ul a:hover ul {
  height: auto;
  padding-bottom: 0;
  visibility: visible;
}
.menu-box ul :hover ul ul,
.top-navigation ul :hover ul ul {
  visibility: hidden;
}
.menu-box ul :hover ul :hover ul ul,
.top-navigation ul :hover ul :hover ul ul {
  visibility: hidden;
}
.menu-box ul :hover ul :hover ul,
.top-navigation ul :hover ul :hover ul {
  visibility: visible;
}
.menu-box ul :hover ul :hover ul :hover ul,
.top-navigation ul :hover ul :hover ul :hover ul {
  visibility: visible;
}
#header .menu-box .current-menu-item > a,
#header .menu-box .current-menu-ancestor > a,
#header .menu-box .current_page_item > a,
#header .menu-box .current-page-ancestor > a {
  background-color: #dff8f6;
  color: black;
}
#header .menu-box .sub-menu .current-menu-item > a,
#header .menu-box .sub-menu .current-menu-ancestor > a,
#header .menu-box .sub-menu .current_page_item > a,
#header .menu-box .sub-menu .current-page-ancestor > a {  
  background-color: #e8e8e8;
  color: black !important;
}

/* top navigation */
.top-navigation {
  min-height: 38px;               
}
.top-navigation ul {
  float: left;
  list-style-type: none;
  margin: 0;
  max-width: 890px;
  position: relative;
}
.top-navigation ul ul {
  border: none;
  background: #444444;
  margin: 0;
  width: 250px;
  z-index: 110;
}
.top-navigation ul li {
  float: left;
  height: 38px;
  line-height: 38px; 
  margin: 0;
  position: relative;
}
.top-navigation ul ul li {
  border-bottom: 1px solid #333333;
  display: block;
  height: auto;
  line-height: 30px;
  margin: 0;
  min-height: 30px;
  position: relative;
  width: 250px;
}
#wrapper #top-navigation-wrapper .top-navigation ul ul .last-menu-item {
  border-bottom: none;                          
}
.top-navigation a,
.top-navigation a:visited {
  color: #ededed;
  display: block;
  float: left;
  font-size: 13px;
  height: 38px;
  line-height: 38px;
  padding: 0 14px;
  text-align: center;
  text-decoration: none;
}
#wrapper #top-navigation-wrapper .top-navigation ul ul a,
#wrapper #top-navigation-wrapper .top-navigation ul ul a:visited { 
  color: #ededed;
  display: block;
  font-size: 13px;
  font-weight: normal;
  height: auto;
  line-height: 30px;
  margin: 0;
  min-height: 30px;
  padding: 0 0 0 14px;
  text-align: left;
  width: 236px;
}
.top-navigation ul a:hover,
.top-navigation ul :hover > a {
  background-color: #666666;
  color: #ffffff;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}
#wrapper #top-navigation-wrapper .top-navigation ul ul a:hover,
#wrapper #top-navigation-wrapper .top-navigation ul ul :hover > a {
  background-color: #666666;
  color: white;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}
.top-navigation ul ul {
  height: 0;
  position: absolute;
  left: 0;
  top: 38px;
  visibility: hidden;
  width: 250px; 
}
.top-navigation ul ul ul {
  left: 250px;
  top: 0;
  width: 250px;
}
#wrapper #top-navigation-wrapper .top-navigation .current-menu-item > a,
#wrapper #top-navigation-wrapper .top-navigation .current-menu-ancestor > a,
#wrapper #top-navigation-wrapper .top-navigation .current_page_item > a,
#wrapper #top-navigation-wrapper .top-navigation .current-page-ancestor > a {
  color: white;
}
.selectnav {
  display: none;
} 


/* main content
-------------------------------------------------------------- */

.entry-content {
  background: white;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 0 0 2px #dddddd;
  -moz-box-shadow:    0 0 2px #dddddd;
  box-shadow:         0 0 2px #dddddd;
  float: left;
  margin-bottom: 25px;
  position: relative; 
  width: 100%;           
}
.entry-content-inner {
  padding: 15px;
  position: relative;
  width: auto;                  
}
.entry-headline {
  border-bottom: 1px solid #e8e8e8;
  color: black;
  font-size: 25px;
  line-height: 100%;
  margin: 0 0 15px;
  padding: 0 0 12px;
  position: relative;
  width: auto;
  z-index: 50;                                  
}
.content-headline {
  font-size: 27px;
  line-height: 100%;
  margin: 0 0 17px;
  padding-top: 3px;                  
}
.archive .content-headline {
  margin-bottom: 0; 
  padding-bottom: 6px;                          
}
#content p,
#content ul,
#content ol,
#content table,
#content address {
  margin-bottom: 14px;           
}
#content ul ul,
#content ol ol,
#content ol ul,
#content ul ol {
  margin-bottom: 0;           
} 
.home-list-posts {
  background: white;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 0 0 2px #dddddd;
  -moz-box-shadow:    0 0 2px #dddddd;
  box-shadow:         0 0 2px #dddddd;
  float: left;  
  margin-bottom: 25px;
  position: relative;
  width: 100%;                
}
.home-list-posts-inner {
  padding: 15px;
  position: relative;
  width: auto;                  
}
#sidebar .home-list-posts,
#footer .home-list-posts {
  display: none;                  
}
#main-content .post-meta {
  background: left bottom repeat-x url(images/dotted.png);
  clear: both;
  color: #999999; 
  font-size: 12px;
  line-height: 21px;
  padding-bottom: 5px;
  margin: -2px 0 0;        
}
#main-content .post-meta span {
  border-left: 1px solid #dbdbdb; 
  padding: 0 6px 0 6px;                             
}
#main-content .post-meta .post-info-author {
  border-left: none; 
  padding-left: 0;                                          
}
#main-content .post-info {
  background: left top repeat-x url(images/dotted.png);
  clear: both;
  color: #999999; 
  float: left;
  font-size: 12px;
  line-height: 21px;
  margin: 15px 0 0;
  padding: 3px 0;
  width: 100%;        
}
.single #main-content #content .post-info {
  background-image: none;
  border-bottom: 1px solid #e8e8e8;
  margin: 0 0 22px;
  padding: 0;                                          
}
.post-info a,
.post-meta a {
  color: #999999 !important;
  text-decoration: none;             
}
.post-info a:hover,
.post-meta a:hover,
#main-content .nav-previous a:hover,
#main-content .nav-next a:hover {
  color: #111111 !important;
  -webkit-transition: color 1s;
  transition: color 1s;             
}
.post-info span { 
  display: inline-block; 
  min-height: 16px;
  line-height: 16px;
  padding: 0 0 0 22px;               
}
#main-content .post-info .post-category,
#main-content .post-info .post-tags {
  float: left;
  margin: 0;
  padding: 6px 0;
  width: 50%;                       
}
#main-content .post-info .post-tags {
  padding-left: 5%;
  text-align: right;
  width: 45%;                           
}
.post-info .post-info-category {
  background: left top no-repeat url(images/icon-category.png);                
}
.post-info .post-info-tags {
  background: left top no-repeat url(images/icon-tag.png);                
}
#content .breadcrumb-navigation {
  background: left bottom repeat-x url(images/dotted.png);
  clear: both;
  color: #b0b0b0;
  font-size: 12px;
  line-height: 100%;
  margin: 0 0 12px; 
  padding: 0 0 12px;
  text-align: left;                              
}
#content .breadcrumb-navigation a {
  color: #999999 !important;
  text-decoration: none;                                 
}
#content .breadcrumb-navigation a:hover {
  color: #333333 !important;
  -webkit-transition: color 1s;
  transition: color 1s;                                 
}
#content .archive-meta {
  margin-top: 11px;                       
}
#content .author-avatar img {
  border: 1px solid #ededed;
  padding: 4px;                          
}
#content .archive-meta p {
  margin-bottom: 3px;                        
}
#nav-below,
#papercuts-post-nav,
.search .navigation {
  background: white;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 0 0 2px #dddddd;
  -moz-box-shadow:    0 0 2px #dddddd;
  box-shadow:         0 0 2px #dddddd;
  float: left;
  margin: 0 0 25px;
  position: relative;
  width: 100%;           
}
#wrapper #papercuts-post-nav {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow:    none;
  box-shadow:         none;                           
}
.navigation-inner {
  padding: 15px;
  position: relative;
  width: auto;                  
}
.nav-wrapper {
  background: left top repeat-x url(images/dotted.png);
  border-bottom: 1px solid #e8e8e8;
  float: left;
  margin-bottom: 17px;
  padding: 5px 0;
  width: 100%;               
}
#wrapper #papercuts-post-nav .nav-wrapper {
  margin-bottom: 0;                                          
}
.navigation-headline {
  font-size: 20px;
  font-weight: normal;
  margin-top: 0;                                          
}
.navigation .navigation-links {
  margin-bottom: 0 !important;                              
}
.navigation .navigation-links a {
  text-decoration: none;                                
}
#main-content .nav-previous {
  float: left;
  margin: 0;
  width: 50%;                       
}
#main-content .nav-next {
  float: right;
  margin: 0;
  text-align: right;
  width: 50%;                       
}
#main-content .nav-previous a,
#main-content .nav-next a {
  text-decoration: none;                          
}
#main-content #content .page-link {
  color: #333333;
  font-size: 12px;                                  
}
.post-edit-link {
  font-weight: bold;                
}

/* default post entry */
.post-entry {
  background: white;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 0 0 2px #dddddd;
  -moz-box-shadow:    0 0 2px #dddddd;
  box-shadow:         0 0 2px #dddddd;
  float: left;
  margin-bottom: 25px;
  position: relative; 
  width: 100%;           
}
.post-entry-inner {
  padding: 15px;
  position: relative;
  width: auto;                  
}
#main-content .sticky {
  background-color: #eef8f7;                
}
.post-entry-content-wrapper {
  padding: 15px 0 0;                           
}
.attachment-post-thumbnail { 
  border: 1px solid #ededed;
  float: left;
  height: auto;
  margin: 0 15px 0 0;
  max-width: 45%;
  padding: 4px;
  width: auto;
}
.single #content .post-thumbnail,
.page #content .post-thumbnail {
  border: 1px solid #ededed;
  display: block;
  margin: 0 0 19px;
  max-width: 100%;
  padding: 4px; 
  position: relative;                                           
}
.single #content .post-thumbnail .attachment-post-thumbnail,
.page #content .post-thumbnail .attachment-post-thumbnail { 
  border: none;
  display: block;
  float: none;
  margin: 0 auto;  
  max-width: 100%;
  padding: 0;
}
.post-entry-content {
  margin-bottom: -15px;                    
}
.post-entry-content h1 {
  font-size: 21px;  
}
.post-entry-content h2 {
  font-size: 19px;  
}
.post-entry-content h3 {
  font-size: 17px;  
}
.post-entry-content h4 {
  font-size: 16px;  
}
.post-entry-content h5 {
  font-size: 15px;  
}
.post-entry-content h6 {
  font-size: 14px;  
}
#main-content .post-entry .post-entry-headline {
  border-bottom: 1px solid #e8e8e8;
  font-size: 21px;
  line-height: 100%;
  margin: 0 0 7px;
  padding-bottom: 14px;             
}
#main-content .sticky .post-entry-headline {
  text-transform: uppercase;                                           
}
.post-entry .post-entry-headline a {
  color: #17c7bd;
  text-decoration: none;                 
}
.post-entry .post-entry-headline a:hover {
  color: black;
  -webkit-transition: color 1s;
  transition: color 1s;                       
}
.post-entry .read-more-button {
  background-color: #75e3db;
  color: white !important;
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  margin: 8px 0 3px;
  padding: 6px 8px;
  text-decoration: none;
  text-transform: uppercase;                              
}
.post-entry .read-more-button:hover {
  background-color: #17c7bd; 
  -webkit-transition: background-color 1s;
  transition: background-color 1s;                                   
}

/* post entry - list */
.home-list-posts .post-entry-list-first {
  border: none;
  border-bottom: 1px solid #ededed !important;
  margin: 0;
  padding: 0;                     
}
.home-list-posts .post-entry-list-first .post-entry-content-wrapper {
  margin-top: 10px;
  padding-top: 0;                            
}
.home-list-posts .post-entry-list-first .post-entry-content {
  margin-bottom: 10px;                    
}
#main-content .home-list-posts .post-entry-list-first .post-entry-headline {
  border-bottom: none;
  margin: 0 0 5px;
  padding-bottom: 0;                                                        
}
.home-list-posts .post-entry-list-first .attachment-post-thumbnail {
  margin-bottom: 15px;
  margin-top: 3px;
  max-width: 50%;                                                                   
}
#main-content .home-list-posts .post-entry-list-first .post-entry-content p {
  margin-bottom: 0;                                                            
}
.home-list-posts-wrapper {
  float: left;
  margin: 6px 0 17px;
  width: 100%;                         
}
#main-content .home-list-posts ul {
  margin-bottom: 0;           
}
#main-content .home-list-posts ul li {
  font-family: "Trebuchet MS", Helvetica, sans-serif;                                     
}
#content .post-entry-list-first .read-more-button {
  display: none;                                                    
}


/* sidebar
-------------------------------------------------------------- */

.sidebar-widget {
  background: white;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 0 0 2px #dddddd;
  -moz-box-shadow:    0 0 2px #dddddd;
  box-shadow:         0 0 2px #dddddd;
  color: #444444;
  font-size: 13px;
  margin-bottom: 25px; 
  padding: 0 15px 18px; 
  position: relative;             
}
.sidebar-widget .sidebar-headline {
  background: #e9f8f7;
  border-bottom: 1px solid white;
  -webkit-box-shadow: 0 1px 0 #e8e8e8;
  -moz-box-shadow:    0 1px 0 #e8e8e8;
  box-shadow:         0 1px 0 #e8e8e8;
  color: #333333;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 100%;
  margin: 0 -15px;
  padding: 8px 0 8px 15px;                               
}
.sidebar-widget .sidebar-headline a {
  color: #333333;
  text-decoration: none;                                    
}
.sidebar-widget img {
  height: auto;
  max-width: 100%;                    
}
.sidebar-widget p {
  margin: 8px 0 -5px;                  
}
.sidebar-widget p,
.sidebar-widget ul li,
.sidebar-widget ol li {
  color: #444444;
  font-size: 13px;                   
}
.sidebar-widget ul {
  background: left top repeat url(images/sidebar-ul.png); 
  margin: 0;                      
}
.sidebar-widget ul li {
  background: left top no-repeat url(images/sidebar-li.png);
  height: auto;
  line-height: 32px;
  list-style-type: none;
  min-height: 32px;
  padding-left: 14px;                       
} 
.sidebar-widget ul li a {
  text-decoration: none;                        
}
.sidebar-widget a:hover {
  color: black !important;
  text-decoration: none;
  -webkit-transition: color 1s;
  transition: color 1s;                       
}                         


/* footer
-------------------------------------------------------------- */

#footer p,
#footer ul li,
#footer ol li {
  color: #444444;
  font-size: 13px;          
}
#footer .footer-widget-area p,
#footer .footer-widget-area ul,
#footer .footer-widget-area ol {
  margin-bottom: 2px;          
}
.footer-widget-area {
  float: left;
  height: auto;
  margin-right: 41px;
  padding: 30px 0 10px;
  position: relative; 
  width: 306px; 
  z-index: 50;                
}
#footer .footer-widget-area-3 {
  margin-right: 0;                              
}
.footer-widget {
  margin-bottom: 20px;               
}
#footer .footer-widget .footer-headline {
  border-bottom: 1px solid #e8e8e8;
  color: #333333;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 19px;
  line-height: 100%;
  margin-bottom: 4px;
  padding-bottom: 7px;                                  
}
.footer-signature { 
  background: #444444;
  border-top: 1px solid white;
  -webkit-box-shadow: 0 -1px 0 #e0e0e0;
  -moz-box-shadow:    0 -1px 0 #e0e0e0;
  box-shadow:         0 -1px 0 #e0e0e0;
  float: left;
  position: relative;
  width: 100%; 
  z-index: 50;       
}
.footer-signature .footer-signature-content {
  min-height: 42px;                                          
}
.footer-signature .footer-signature-content p {
  color: white;
  font-size: 12px;
  line-height: 22px;
  min-height: 22px;
  padding: 10px 0;
  text-align: center;                                              
}
.footer-signature .footer-signature-content a {
  color: #d4f8f5;                                             
}


/* default widgets
-------------------------------------------------------------- */

#wp-calendar th,
#wp-calendar td {
  text-align: center;                   
}
#wp-calendar a,
#wp-calendar #today {
  font-weight: bold;
  text-decoration: none;               
}
#wp-calendar #prev {
  text-align: left;                   
}
#wp-calendar #next {
  text-align: right;                   
}
.tagcloud {
  padding-top: 10px;          
}
#footer .tagcloud {
  padding-top: 0;          
}
.tagcloud a {
  text-decoration: none;          
}
.tagcloud a:hover {
  text-decoration: underline;          
}
.sidebar-widget img,
.footer-widget img {
  padding-top: 3px;                           
}
.sidebar-widget .wp-caption,
.footer-widget .wp-caption {
  border: none;
  margin-right: 0;                          
}
.sidebar-widget .wp-caption img,
.footer-widget .wp-caption img {
  max-width: 100%;                           
}
.sidebar-widget select {
  margin-top: 10px;
  width: 100%;                       
}
.sidebar-widget #searchform {
  margin-top: 15px;                       
}


/* form fields
-------------------------------------------------------------- */

input[type="text"],
input[type="file"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="email"],
input[type="url"],
textarea,
select {
  background-color: white;
  border: 1px solid #e8e8e8;
  color: #333333;
  line-height: normal;
  padding: 5px;
  width: 50%;
}
textarea {
	overflow: auto;
	vertical-align: top;
  width: 98%;
}
input[type="submit"],
input[type="reset"] {
  background: #75e3db;
  border: none;
  border-radius: 0 !important;
  box-shadow: none;
  color: white !important;
  cursor: pointer;
  font-size: 15px;
  height: auto;
  margin-top: 5px;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none; 
  text-shadow: none;                  
}
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #17c7bd; 
  -webkit-transition: background-color 1s;
  transition: background-color 1s;                    
}
#searchform .searchform-wrapper {
  height: 31px;
  position: relative;
  width: 100%;                                
}
.search-no-results .searchform-wrapper {
  margin-top: 15px;                                       
}
.header-content #searchform .searchform-wrapper {
  margin-top: -15px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 180px;        
}
#searchform .searchform-wrapper #s {
  background-color: white;
  border: 1px solid #e8e8e8;
  color: #aaaaaa; 
  font-size: 13px;
  height: 19px;
  padding: 5px 0 5px 3%;
  position: absolute;
  left: 0;
  top: 0;
  width: 96%;              
}
#searchform .searchform-wrapper .send {
  background-color: #75e3db;
  background-image: url(images/searchform-send.png);
  border: none;
  cursor: pointer;
  height: 31px;
  position: absolute;
  right: 0;
  top: 0;
  width: 31px;
  z-index: 20; 
}
#searchform .send:hover {
  background-color: #17c7bd;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}


/* comments area
-------------------------------------------------------------- */

#comments {
  float: left;
  margin-top: 30px;         
}
.single .comments-area-post {
  margin-top: 5px !important;                            
}
.single .comments-area-post-hide,
.page .comments-area-page-hide {
  margin-top: 16px !important;                            
}
#content .commentlist {
  list-style-type: none;
  margin-bottom: 25px;             
}
.commentlist .children {
  list-style-type: none;                       
}
.comment-reply-title {
  font-size: 20px;
  font-weight: normal;
  line-height: 100%;
  margin-top: 0;             
}
#comments .entry-headline-wrapper {
  margin-bottom: -21px;                        
}
#comments .entry-headline {
  border-bottom: none;
  color: #333333;
  font-size: 20px;
  font-weight: normal; 
  margin-bottom: -4px;
  padding: 0;                         
}
.comment-reply-link {
  font-size: 13px;                    
}
.comments-title {
  margin-top: 0;                
}
#comments .section-heading {
  font-weight: normal;              
}
#comments ol {
  color: #333333;
  margin-left: 0;             
}
#comments ol ol {
  margin: 0 20px;             
}
#comments ol li { 
  border-top: 1px solid #e8e8e8;
  margin: 15px 0 0 0;
  padding: 15px 0 0 0;                
}
#comments .avatar,
#comments .fn {
  float: left;
  margin: 0 6px 0 0;                  
}
#comments .fn {
  font-style: italic; 
  margin: 0 3px 0 0;             
}
#comments time,
#comments .edit-link {
  color: #555555;
  float: right; 
  font-size: 13px;              
}
#comments .comment-content {
  clear: both;
  padding-top: 10px;                          
}
#comments #comment-nav-below {
  float: left;
  margin: 10px 0 30px;
  width: 100%;                  
}
#comments input,
#comments textarea {
  margin-top: 7px;                
}
#content #commentform .form-allowed-tags {
  color: #707070; 
  font-size: 12px;                  
}  
#comments .bypostauthor {
  background: #f2f2f2;
  border-top: 1px solid #cccccc;
  color: black;
  margin-bottom: -15px;
  padding: 10px 30px;              
}
.reply {
  margin-top: -10px;
  width: 50%;      
}
#content .comment-content p {
  font-size: 13px;
  margin-bottom: 10px;                   
}
#content .comment-content .edit-link {
  margin: -15px 0 0;
  text-align: right; 
  width: 50%;                                    
}
#content .comment-content li {
  border: none;
  font-size: 13px;
  margin: 0;
  padding: 0;                             
}
#content #commentform p {
  color: #333333;
  font-size: 13px;
  margin-bottom: 5px;                        
}
#content #commentform .logged-in-as,
#content #commentform .comment-notes {
  margin-top: 10px;         
}
#comments #respond {
  float: left; 
  margin-bottom: 20px;                  
}


/* media queries
-------------------------------------------------------------- */

@media screen and (max-width: 1000px) {
  #wrapper .footer-signature-content,
  #wrapper .top-navigation,
  #wrapper #main-content,
  #wrapper .menu-box,
  #wrapper #footer {
    max-width: 90%;
    width: 90%;                         
}
  #wrapper #content {
    max-width: 100%;
    width: 100%;                    
}
  #wrapper #sidebar {
    float: left;
    margin: 0;
    width: 100%;                    
}
  #wrapper #header .header-content {
    float: left;                                  
}
  #wrapper #header .header-content .site-title,
  #wrapper #header .header-content .site-description {
    float: left;
    max-width: 90%;
    padding: 0 5%;
    width: 90%;           
}
  #wrapper #header .header-content .header-logo {
    float: left;
    margin: 0;
    max-width: 90%;
    padding: 0 5%;
    width: auto;               
}
  #wrapper .header-content #searchform .searchform-wrapper {
    float: left;
    margin: 15px 0 0 5%;
    position: relative;
    right: 0;
    top: 0;
    width: 90%;        
}
  .js #nav,
  .js #top-nav {
    display: none;
}
  .js .selectnav {
    background: #444444;
    border: 1px solid #111111;
    color: white;
    display: block;
    float: left;
    height: 27px;
    margin: 5px 0 0; 
    position: relative;
    width: 50%;
}
  .js .menu-box .selectnav {
    background-color: white;
    border-bottom: none;
    border-color: #ededed;
    border-top: none;
    color: #444444;
    height: 32px;
    line-height: 32px;
    margin: 0;
    width: 100%;                                
}    
  #wrapper #main-content .post-entry .attachment-post-thumbnail {
    max-width: 50%;                                                           
}
  #wrapper #footer {
    padding: 30px 0 10px;                   
}
  #footer .footer-widget-area {
    margin: 0;
    padding: 0;
    width: 100%;                              
}
}


/* print
-------------------------------------------------------------- */

@media print {
	html body {
    background: none !important;          
}
  #top-navigation-wrapper,
  #wrapper-header,
  #wrapper-footer,
  #sidebar,
  #respond,
  .reply,
  .scroll-top {
    display: none !important;                                   
}
  #main-content,
  #main-content #content {
    max-width: 100% !important;
    width: 100% !important;         
}
  .header-image,
  .post-entry,
  .entry-content,
  .home-list-posts {
    border: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow:    none !important;
    box-shadow:         none !important;                
}
}